runpod~=1.7.0
diffusers
transformers
accelerate
hf_transfer
cryptography
sentencepiece
tokenizers
peft
protobuf>=3.20,<4.0
torch==2.3.0+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
numpy
scipy
soundfile
librosa
requests
chattts @ git+https://github.com/2noise/ChatTTS.git
faster-whisper
